<html>
<head>
  <title>AtomForum</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">AtomForum</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
        <li>
            <!-- Search bar -->
            <form class="navbar-form" role="search" method="get" id="search-form" name="search-form" action="/results">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter URL" id="url" name="url" value="">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </li>
    </ul>
  </div>
</nav>
     <div class="container">
        <h2>Thread Content</h2>
        
        <% var i = 1; %>
        <% sentenceData.forEach(function(sentence, index) { %>
            <% if (newPostLines.indexOf(index) > -1) { %>
                <hr />
                <b>#<%= i %></b> <br />
                <% i++; %>
            <% } %>
            <% var demoStr = "#demo" + index; %>
            <% var idStr = "demo" + index; %>
            <% if (hiddenLines.indexOf(index) > -1) { %>

                <button data-toggle="collapse" data-target='<%= demoStr %>'>Show Hidden</button>

                <div id='<%= idStr %>' class="collapse">
                <p> <%= sentence %> </p>
                </div>
            <% } else { %>
                <p> <%= sentence.split(".")[0] %> </p>
                <button data-toggle="collapse" data-target='<%= demoStr %>'>Show More</button>
                <div id='<%= idStr %>' class="collapse">
                    <p> <%= sentence.substring(sentence.indexOf(".") + 1) %> </p>
                </div>
            <% } %>
        <% }); %>
    </div>
</body> 
</html>