<html>
<head>
    <title>AtomForum</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">AtomForum</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <!-- Search bar -->
                    <form class="navbar-form" role="search" method="get" id="search-form" name="search-form" action="/results">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter URL" id="url" name="url" value="">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
    <% var i = 1; %>
    <% for (var index = 0; index < displayData.sentenceData.length; index++) { %>
        <% var post = displayData.sentenceData[index]; %>
        <% if (index == 0) { %>
            <!-- Display title post -->
            <div class="alert alert-info" role="alert"> 
                <b><%= displayData.userData[index] %></b>
            </div>
            <% continue; %>
        <% } %>

        <% if (displayData.parentIndex.indexOf(index - 1) > -1) { %>
            <!-- The previous post is a parent post -->
            <% if (displayData.parentIndex.indexOf(index) == -1) { %>
                <!-- The current post is a child --> 
                <%
                    var replyStr = "#reply" + index;
                    var replyIDStr = "reply" + index;
                    
                    var originalIDStr = "originial" + index;
                    var originalStr = "#" + originalIDStr;
                %>
                <% 
                    var posInArray = displayData.parentIndex.indexOf(index - 1);                               
                    if (posInArray < displayData.parentIndex.length - 1)
                    {
                        var newIndex = displayData.parentIndex[posInArray + 1] - 1; 
                        index = newIndex;
                    }

                    if (displayData.summaryArr[posInArray] == null) { continue; }
                    if (displayData.summaryArr[posInArray].length == 0) { continue; }  
                %>

                <!-- Start collapsing all replies from here -->
                <span class="glyphicon glyphicon-comment"></span> <a data-toggle="collapse" data-target='<%= replyStr %>'>Show/Hide Replies</a>
                <div id='<%= replyIDStr %>' class="collapse">
                    <div class="col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <i>Auto-Summary</i>
                                <hr />
                                <% displayData.summaryArr[posInArray].forEach(function(line) { %>
                                    <p> <%= line %> </p>
                                <% }); %>
                                <hr />

                                <!-- Collapse original replies here -->
                                <a data-toggle="collapse" data-target='<%= originalStr %>'>View Original Replies</a>
                                <div id='<%= originalIDStr %>' class="collapse">
                                    <div class="panel-body">   
                                        <% displayData.sumChildPosts[posInArray].forEach(function(line) { %>
                                            <p> <%= line %> </p>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <% continue; %>
            <% } %>
        <% } %>

        <div class="panel panel-default">
            <div class="panel-body">
                <!-- Mark post number -->
                <b>#<%= i %></b>
                <!-- Show username in italics -->
                <i><%= displayData.userData[index][0] %></i>
                <% i++; %>
                <% 
                    var demoStr = "#demo" + index;
                    var idStr = "demo" + index; 
                %>
                <% if (displayData.firstSentence[index] == null) { %>
                    <!-- Hide posts that are too short -->
                    <i><a data-toggle="collapse" data-target='<%= demoStr %>'>Show Hidden</a></i>

                    <div id='<%= idStr %>' class="collapse">
                        <p> <%= displayData.userData[index][1] %> </p>
                    </div>
                <% } else { %>
                     <!-- Display first sentence -->
                    <p> <%= displayData.firstSentence[index] %> </p>
                    <% if (displayData.notFstSentence[index] != null) { %>
                        <a data-toggle="collapse" data-target='<%= demoStr %>'>Show More...</a>

                        <!-- Show the rest of the content -->
                        <div id='<%= idStr %>' class="collapse">
                            <p> <%= displayData.notFstSentence[index] %> </p>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    <% } %>
    </div>
</body> 
</html>