<html>
<head>
    <title>AtomForum</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css">
  <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">AtomForum</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <!-- Search bar -->
                    <form class="navbar-form" role="search" method="get" id="search-form" name="search-form" action="/results">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter URL" id="url" name="url" value="">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
    <% var i = 1; %>
    <% displayData.sentenceData.forEach(function(post, index) { %>
        <!-- Display title post -->
        <% if (index == 0) { %>
            <div class="alert alert-info" role="alert"> 
                <b><%= displayData.userData[index] %></b>
            </div>
            <!-- continue to the main content -->
            <% return; %>
        <% } %>
        
        <% if (displayData.parentIndex.indexOf(index) == -1) { %>
            <div class="col-md-offset-1">
        <% } %>
                
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- Mark post number -->
                <b>#<%= i %></b>
                <!-- Show username in italics -->
                <i><%= displayData.userData[index][0] %></i>
                <% i++; %>
                <% 
                    var demoStr = "#demo" + index;
                    var idStr = "demo" + index; 
                %>

                <!-- Hide posts that are too short -->
                <% if (displayData.firstSentence[index] == null) { %>
                    <a data-toggle="collapse" data-target='<%= demoStr %>'>Show Hidden</a>

                    <div id='<%= idStr %>' class="collapse">
                        <p> <%= displayData.userData[index][1] %> </p>
                    </div>
                <!-- Display first sentence for preview -->
                <% } else { %>
                    <p> <%= displayData.firstSentence[index] %> </p>
                    <% if (displayData.notFstSentence[index] != null) { %>
                        <a data-toggle="collapse" data-target='<%= demoStr %>'>Show More</a>

                        <!-- Show rest of the content -->
                        <div id='<%= idStr %>' class="collapse">
                            <p> <%= displayData.notFstSentence[index] %> </p>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
        <% if(displayData.parentIndex.indexOf(index) == -1) { %>
            </div>
        <% } %>
    <% }); %>
    </div>
</body> 
</html>