<html>
<head>
    <title>AtomForum</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">AtomForum</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    
                <!-- Search bar -->
                <form class="navbar-form" role="search" method="get" id="search-form" name="search-form" action="/results">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter URL" id="url" name="url" value="">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <!-- Display title post -->
        <div class="alert alert-info" role="alert"> 
            <b><%= displayData.userData[0] %></b>
        </div>
        
        <%  var numPost = 1; %> 
        <%  for (var i = 0; i < displayData.parentIndex.length; i++) { 
         
            var index = displayData.parentIndex[i]; 
            var post = displayData.sentenceData[index]; 
        
            //skip if no replies
            if (displayData.newParentIndex[i] == -1) {
                continue;
            }
        %>
        
        <!-- Parent post -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- Mark post number -->
                <b>#<%= numPost %></b>
                <% numPost++; %>
                <!-- Show username in italics -->
                <i><%= displayData.userData[index][0] %></i>
            </div>
            <div class="panel-body">
                <% 
                    var demoStr = "#demo" + index;
                    var idStr = "demo" + index; 
                %>
                <% if (displayData.firstSentence[index] == null) { %>
                    <!-- Show all of the content -->
                    <p> <%= displayData.userData[index][1] %> </p>
                <% } else { %>
                     <!-- Display first sentence -->
                    <p> <%= displayData.firstSentence[index] %> </p>
                    <% if (displayData.notFstSentence[index] != null) { %>
                        <a data-toggle="collapse" data-target='<%= demoStr %>'>Show More...</a>

                        <!-- Show the rest of the content -->
                        <div id='<%= idStr %>' class="collapse">
                            <p> <%= displayData.notFstSentence[index] %> </p>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
        
        <!-- Child post --> 
        <%
            var replyStr = "#reply" + index;
            var replyIDStr = "reply" + index;

            var originalIDStr = "originial" + index;
            var originalStr = "#" + originalIDStr;
        %>
        <% 
            if (displayData.summaryArr[i] == null) { continue; }
            if (displayData.summaryArr[i].length == 0) { continue; }  
        %>

        <!-- Start collapsing all replies from here -->
        <span class="glyphicon glyphicon-comment"></span> <a data-toggle="collapse" data-target='<%= replyStr %>'>Show/Hide Replies</a>
        <div id='<%= replyIDStr %>' class="collapse">
            <div class="col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i>Auto-Summary</i>
                    </div>
                    <div class="panel-body">
                        <% displayData.summaryArr[i].forEach(function(line) { %>
                            <p> <%= line %> </p>
                        <% }); %>
                        <hr />

                        <!-- Collapse original replies here -->
                        <a data-toggle="collapse" data-target='<%= originalStr %>'>View Original Replies</a>
                        <div id='<%= originalIDStr %>' class="collapse">
                            <div class="panel-body">   
                                <% displayData.sumChildPosts[i].forEach(function(line) { %>
                                    <p> <%= line %> </p>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    <% } %>
    </div>
</body> 
</html>